baseline_masks/*
images/*
SAM/*
SAM_masks/*
X_test/*
X_train/*
atvmf/03*
SimCLR/Raidium/*
Y_train.csv
results.csv
.ipynb_checkpoints/*
.uuid
SimCLR/data_aug/__pycache__
SimCLR/data/*
SimCLR/.ipynb_checkpoints/*
SimCLR/=0.5
SimCLR/=0.5.0
SimCLR/Raidium/
SimCLR/__pycache__
SimCLR/datasets/*
SimCLR/runs
atvmf/result_unet
atvmf/result_fcb
